services:
  postgres:
    image: postgres:17
    container_name: async_postgres
    env_file:
      - .env
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: